{% extends 'base.html' %}
{% load staticfiles %}

{% block head_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
{% endblock %}
{% block body_block %}
        <div class="container">
            <!--Grid row-->
            <div class="row mt-5">
                <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">

                    <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
    <p>Name: {{receipt_detail.title}}</p>
    <p>Principal: {{receipt_detail.description}}</p>
    <p>Location: {{receipt_detail.ingredients}}</p>
    <p><a class='btn btn-warning' href="{% url 'receipts:update' pk=receipt_detail.pk %}">Update</a></p>
                </div>
            </div>
        </div>
{% endblock %}